
.chat-bar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.group-bar {
    padding: 15px;
}

.left-bar {
  background-color: shade(@theme_bg_color, 0.97);
}

.profile-button {
  margin: 0;
  padding: 0;
  border-radius: 200px;
}

.network-status {
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry-bar {
  background-color: shade(@theme_bg_color, 0.97);
}

.message-list {
  background-color: inherit;
}

.message_error {
    color: #E01B24;
}

.channel-row {
  border-radius: 5px;
}

.unread {
  background-color: red;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}
